body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Courier New", monospace;
}

.pc {
  position: relative;
  width: 800px; /* scale as you like */
}

.pc-image {
  width: 100%;
  display: block;
}

.crt-screen {
  position: absolute;
  /*Adjust to screen size!*/
  top: 19%;
  left: 22.5%;
  width: 55%;
  height: 40%;

  color: #00ff66;
  text-shadow: 0 0 6px #00ff66;

  padding: 20px;
  box-sizing: border-box;

  overflow: hidden;
}

.crt-screen::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,0,0,0.15),
    rgba(0,0,0,0.15) 1px,
    transparent 2px,
    transparent 4px
  );
  pointer-events: none;
}

/* Menu */
.menu {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.menu button {
  background: black;
  color: #00ff66;
  border: 1px solid #00ff66;
  padding: 8px 16px;
  font-family: inherit;
  cursor: pointer;
}
